<h2>{{title}}</h2>
<form autocomplete="off">
	<p>Copy paste the text from your PDF into the input.</p>
	<textarea id="pdfText" name="pdfText" cols="8" rows="6"></textarea>
	<p id="errorMessage"></p>
	<button id="processText" name="processText" type="submit">Create Monster</button>
</form>